body {
    background-color: aliceblue;
    font-family: cursive;

}


/*.todoList {*/
/*    width: 500px;*/
/*    margin: 0 auto;*/
/*}*/


/*.App {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*}*/

.todoList {
    position: relative;
    margin-right: 30px;
}


/*.todoList > div {*/
/*    padding: 10px;*/
/*}*/

/*.todoList-task {*/

/*}*/

/*.filter-active {*/
/*    background-color: aqua;*/
/*}*/

/*.error {*/
/*    border-color: red;*/
/*}*/

/*.todoList-task.done {*/
/*    opacity: 0.5;*/
/*}*/

/*button {*/
/*    font-family: cursive;*/
/*}*/


/*.times {*/
/*    margin-left: 10px;*/
/*    color: #000;*/
/*    cursor: pointer;*/
/*}*/
/*.header {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    align-items: baseline;*/
/*}*/

.times-header {
    margin-left: 10px;
    color: #f50057;
    position: absolute;
    top: -10px;
    right: -20px;
    cursor: pointer;

}

.menuButton {

}

.title {

}

